body{
margin:0;
}
.explore-class {
    color: #3f3d56;
    font-family: Nunito Sans;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 76px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}

hr {
    width: 90%;
    height: 2px;
    left: 50px;
    top: 38%;

    background: #D0CDE1;
}

.hr-class {
    width: 90%;
    height: 2px;
    left: 50px;
    margin-top: 25px;

    background: #D0CDE1;
}

.search-bar {
    margin-top: 30px;
}

.search-bar-wrapper {
    background: #d0cde1;
    border-radius: 15px;
    height: 70px;
    width: 821px;
}

.search-bar,
.search-bar-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

.searchBox {
    border: 2px solid #fff;
    border-radius: 15px;
    font-size: 23px;
    outline: none;
    padding: 10px 18px;
    width: 702px;
}

.searchBtn {
    cursor: pointer;
    height: 45px;
    margin-left: 12px;
}

.below-text-class {
    color: #3f3d56;
    font-family: Nunito Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 550;
    line-height: 76px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.rectangle-class {
    width: 300px;
    height: 50px;
    align-items: center;
    margin-left: 39%;
    background: #7C639F;
    border-radius: 15px;
}

.add-class {
    width: 220px;
    height: 35px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 520;
    font-size: 135%;
    margin-left: 20%;
    padding-top: 4%;
    cursor: pointer;
    color: #FFFFFF;
}

